.top {
  background-color: #a0937d;
  position: relative;
  padding-top: 50px;

}


body {
  margin: 0px;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 5.62rem;
  margin: 50px auto 0 auto;
  color: #393e46;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;

  font-weight: normal;
  margin: 0px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;


}

.middle-container {
  background-color: #e7d4b5;
}
.profile{
background-color: #e7d4b5;
}
.bottom-container {
  background-color: #f6e6cb;
}

p {
  font-size: 18px;
  font-weight: normal;


}

.AWS {
  text-decoration: underline;
}


.cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 300px;
}

.customers {
  width: 30%;
  height: auto;
  margin-top: 30px;
  float: left;
  margin-right: 30px;
}

.innovation {
  width: 25%;
  height: auto;
  float: right;
  margin-left: 30px;

}

hr {

  min-width: 100%;
  max-width: 100%;
  margin: 2 auto;
  border: none;
  border-bottom: 1px solid #666;
  position: relative;
  transition: box-shadow 200ms ease-in-out;
  box-shadow: 0px 0px 0px 0px #f9f9f9;
}
.mountain {
  margin: 0px;

}
br {
  line-height: 2;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  line-height: 2;
  text-align: left;
}
.text{
  text-align: justify;
}
