.top {
  background-color: #a0937d;
  position: relative;
  padding-top: 50px;

}


body {
  margin: 0px;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 5.62rem;
  margin: 50px auto 0 auto;
  color: #393e46;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;

  font-weight: normal;
  margin: 0px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;


}

.middle-container {
  background-color: #e7d4b5;
}
.profile{
width: 35%;
margin: 0px auto;
padding: 100px 0px;

}
.bottom-container {
  background-color: #f6e6cb;

}

p {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0px;

}

.AWS {
  text-decoration: underline;
}


.cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 300px;
}

.customers {
  width: 30%;
  max-width: 280px;
  height: auto;
  margin-top: 30px;
  float: left;
  margin-right: 30px;
}

.innovation {
  width: 30%;
  max-width: 280px;
  height: auto;
  float: right;
  margin-left: 30px;

}

hr {
  width: 100px;
  border-style: dotted;
  border: none;
  border-top: 10px dotted;
  color: #a0937d;
}
.mountain {
  margin: 0px;

}
br {
  line-height: 2;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  line-height: 2;
  text-align: left;
}
.text{
  text-align: justify;
}
.skills{
  padding-top: 100px;
}
.contact-me {
  padding: 50px 0px;
  width: 50%;
  margin: 0px auto;
}
.BUTTON_JKO {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #393E46;
   font-family: 'Shadows Into Light', cursive;
   font-size: 1.75rem;
   font-weight: 100;
   padding: 15px;
   border-color-hover: ;
   border-style-hover: solid;
   border-width-hover: 1;
   background-color: #A0937D;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_JKO:hover {
   background: #f6e6cb;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.endtext {
  margin-bottom: 50px;
}
.footer-link {
  margin: 0px 20px;
}
